<div class="sipz-form">
  <div class="sipz-image">
    <br />
    <p>
      Share</br>
      - beers</br>
      - breweries</br>
      Rate and Follow</br>
      - beers</br>
      - breweries</br>
      - users
    </p>
  </div>
  <div class="sipz-caption">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <br />
      Sign In
      <br /><br />
      <%= f.input :login, required: true, label: false, placeholder: 'username', input_html: { autocomplete: "username" } %>
      <%= f.input :password, required: true, label: false, placeholder: 'password', input_html: { autocomplete: "password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <div class="forgot">Forgot Password?</div>
      <%= f.button :submit, 'Sign In', class: 'enter float-right' %>
    <% end %>
  </div>
</div>
