<%= link_to "NEW", "/list", class: "sipz-list-link" %>

<% @beers.each do |beer| %>
  <%= link_to beer_path(beer) do %>
    <div class="sipz-preview" style="background: url(/assets/pic-<%= beer.id %>.png) center; background-size: cover;">
      <div class="sipz-caption center">
        <div class="beer-name">

          <% if beer.picture.url %>
           <%= image_tag beer.picture.url, class: 'img-fluid' %>
          <% end %>
           
    
          <%= beer.name %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

 