<%= link_to "NEW", "/list", class: "sipz-list-link" %>

<% @beers.each do |beer| %>
  <%= link_to beer_path(beer) do %>

    <% if beer.picture.url.end_with? ".mp4" %>
     <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
     poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source src=<%= beer.picture.url %> type='video/mp4'>
    <source src="MY_VIDEO.webm" type='video/webm'>
    <noscript>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </noscript>
  </video>
  <% else %> 
    <div class="sipz-preview" style="background: url(<%= beer.picture.url %>) center; background-size: cover;"> 
  </div>
  <% end %>
      <div class="sipz-caption">
        <div class="sipz-title center">
          <p><%= beer.name %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

 