<% @beers.each do |beer| %>
  <%= link_to beer_path(beer) do %>
    <div class="sipz-list">
     <div class="sipz-preview" style="background: url(<%= beer.picture.url %>) center; background-size: cover;">
     </div>
      <div class="sipz-caption">
        <div class="beer-name">
          <%= beer.name %>
        </div>
        <br /><br />
        <div class="user-date"> 
          added by <%= beer.user.username %> on <%= beer.created_at.strftime("%b %d, %Y" + " at " + "%H:%M") %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>