<% @beers.each do |beer| %>
  <%= link_to beer_path(beer) do %>
    <div class="sipz-list">
      <div class="sipz-caption">
        <br />
        <div class="sipz-title">
          <%= beer.name %>
        </div>
        <div class="float-bottom">
          <div class="user-date"> 
            added by <%= beer.user.username %> on <%= beer.created_at.strftime("%b %d, %Y" + " at " + "%H:%M") %>
          </div>
        </div>
      </div>
      <div class="sipz-preview" style="background: url(<%= beer.picture.url %>) center; background-size: cover;">        
        <% if beer.picture.url.end_with? ".mp4" %>
          <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" width="200" height="200"  poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
          <source src=<%= beer.picture.url %> type="video/mp4">
          <noscript>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </noscript>
          </video>
        <% end %> 
      </div>
    </div>
  <% end %>
<% end %>