<div class="sipz-post">
  <div class="sipz-caption">
    <br /><br />
    <div class="sipz-title">
      <%= @beer.name %>
    </div> 
    <div class="float-bottom">
      <div class="user-date">
        added by <%= @beer.user.username %> on <%= @beer.created_at.strftime("%b %d, %Y" + " at " + "%H:%M") %>
      </div>
      <br />
      <div class="addpost enter float-left">New Post</div>
      <div class="sipz-text float-right">add a post realted to this beer</div>      
    </div>
  </div>
  <div class="sipz-image" style="background: url(<%= @beer.picture.url %>) center; background-size: cover;">
    <% if @beer.picture.url.end_with? ".mp4" %>
      <video id="video" class="video-js vjs-big-play-centered vjs-fill" controls preload="auto" poster=<%= @beer.picture.url %> />
      <source src=<%= @beer.picture.url %> type="video/mp4">
      <noscript>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </noscript>
      </video>
    <% end %>
  </div>
</div>
<div id="AddPost">
  <%= render template: "posts/new" %>
</div>
<% @beer.posts.each do |post| %>
  <%= link_to beer_post_path(@beer, post) do %>
    <div class="sipz-list">
      <div class="sipz-caption">
        <br />
        <div class="sipz-title">
          <%= post.caption %>
        </div>
        <br /><br />
        <div class="float-bottom user-date">
          posted by <%= post.user.username %> on <%= post.created_at.strftime("%b %d, %Y" + " at " + "%H:%M") %>
        </div>
      </div>
      <div class="sipz-image" style="background: url(<%= post.picture.url %>) center; background-size: cover;">
        <% if post.picture.url.end_with? ".mp4" %>
          <video id="video" class="video-js vjs-big-play-centered vjs-fill" controls preload="auto" poster=<%= post.picture.url %> />
          <source src=<%= post.picture.url %> type="video/mp4">
          <noscript>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
            </noscript>
            </video>
          <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<script>
  $( ".addpost" ).click(function() {
    $( "#AddPost" ).toggle();
  });
</script>