<div class="post">
  <div class="post-image" style="background: url(/assets/pic-<%= @beer.id %>.png) center; background-size: cover;"></div>
  <div class="post-caption">
    <i class="fa fa-user-circle"></i>
    <%= @beer.user.username %><br /><br />
    <%= @beer.name %><br /><br />
    <%= @beer.created_at %>
  </div>
  <div class="post-comments">
    <% @beer.posts.each do |post| %>
      <p><%= post.caption %></p>
    <% end %>
    <%= link_to 'Add a new post...', new_beer_post_path(@beer, @post) %>
  </div>
</div>