<% @posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <div class="post-list">
      <div class="post-image" style="background: url(/assets/pic-<%= post.id %>.png) center;  background-size: cover;"></div>
      <div class="post-caption">
        <i class="fa fa-user-circle"></i>
        <%= post.user.username %></br></br>
        <%= post.caption %></br></br>
        <%= post.created_at %>
      </div>
    </div>
  <% end %>
<% end %>