<%= simple_form_for @post do |f| %>
    <div class="form-image">
      
    </div>
    <div class="form-caption">
      <% if @beer %>
        <h1><%= @beer.name %></h1>
      <% else %>
        <%= f.input :beer, required: true, label:false, placeholder: 'beer name' %>
      <% end %>

      <%= f.input :caption, label: false, placeholder: '3-100 character caption', as: :text, :input_html => { :rows => 10 } %>
      <%= f.submit 'Add Post', class: 'enter float-right' %>
    </div>
  <% end %>