<div class="sipz-post">
  <div class="sipz-image" style="background: url(/assets/pic-<%= @post.id %>.png) center; background-size: cover;"></div>
  <div class="sipz-caption">
    <br /><br />
    <div class="beer-name">
      <%= @post.caption %>
    </div>
    <br /><br />
    <div class="user-date">
      posted by <%= @post.user.username %> on <%= @post.created_at.strftime("%b %d, %Y" + " at " + "%H:%M") %>
    </div>
    <div class="addcomment enter float-right">New Comment</div>
  </div>
</div>

<div id="AddComment">
  <%= render template: "comments/new" %>
</div>

<div class="sipz-comments">
  <% if !@comments.nil?%>
    <% @comments.each do |comment| %>
      <div class="Someone_Should_Change_the_class_name_to_something_else" style="background-color:black">
        <%= comment.message %>
        <%= comment.user %>
      </div>
    <% end %>
  <% elsif current_user %>
    <p>Be the first to comment!</p>
  <% else %>
    <p>Log in to comment</p>
  <% end %>
</div>

<script>
  $( ".addcomment" ).click(function() {
    $( "#AddComment").toggle();
  });
</script>