<div class="post">
  <div class="post-image" style="background: url(/assets/pic-<%= @sip.id %>.png) center; background-size: cover;"></div>
  <div class="post-caption">
    <i class="fa fa-user-circle"></i>
    <%= @sip.user.username %><br><br>
    <%= @sip.caption %><br><br>
    <%= @sip.created_at %>
  </div>
  <div class="post-comments">
    <%= simple_form_for @comment do |f| %>
      <%= f.input :message %>
      <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>