<!DOCTYPE html>
<html>
  <head>
    <title>Sipz</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">
  </head>
  <body>
    <div class="sipz-columns">
      <div></div>
      <div>

<!-- header -->    
        <div class="sipz-header">
          <%= link_to "Sipz", root_path, class: "sipz-logo" %>
        
    <!-- user -->
          <div class="sipz-nav">
            <% if user_signed_in? %>
              <% if @post.present? && current_user == @post.user %>
                <span class="editpost">Edit Post</span> • <%= link_to 'Delete Post', beer_post_path(@post), method: :delete, data: {confirm: 'Are you sure you want to delete this Post?'} %> • 
              <% elsif @beer.present? && current_user == @beer.user %>
                <span class="editbeer">Edit Beer</span> • <%= link_to 'Delete Beer', beer_path(@beer), method: :delete, data: {confirm: 'Are you sure you want to delete this Beer?'} %> • 
              <% else %>
                <span class="addbeer">Add New Beer</span> • 
              <% end %>
              <span class="sipz-user"><%= link_to current_user.username %></span> • <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            <% else %>
              <span class="signup">Sign Up</span> • <span class="signin">Sign In</span>
            <% end %>
          </div>

    <!-- alert -->
          <% if notice.present? %>
            <span class="notice"><%= notice %></span>
          <% end %>
          <% if alert.present? %>
            <span class="alert"><%= alert %></span>
          <% end %>
        </div>

<!-- content -->   
        <div class="sipz-content">

    <!-- forms -->
          <div id="SignIn">
            <%= render template: "users/sessions/new" %>
          </div>
          <div id="SignUp">
            <%= render template: "users/registrations/new" %>
          </div>
          <div id="Forgot">
            <%= render template: "users/passwords/new" %>
          </div>
          <div id="AddBeer">
            <%= render template: "beers/new" %>
          </div>  
          <% if current_user && @beer.present? %>
            <div id="EditBeer">
              <%= render template: "beers/edit" %>
            </div>
          <% end %>
          <% if current_user && @post.present? %>
            <div id="EditPost">
              <%= render template: "posts/edit" %>
            </div>
          <% end %>

    <!-- show/hide -->
          <script>
            $( ".signin" ).click(function() {
              $( "#SignIn" ).toggle();
              $( "#SignUp" ).hide();
              $( "#Forgot" ).hide();
            });
            $( ".signup" ).click(function() {
              $( "#SignIn" ).hide();
              $( "#SignUp" ).toggle();
              $( "#Forgot" ).hide();
            });
            $( ".forgot" ).click(function() {
              $( "#SignIn" ).hide();
              $( "#SignUp" ).hide();
              $( "#Forgot" ).show();
            });
            $( ".addbeer" ).click(function() {
              $( "#AddBeer" ).toggle();
            });
            $( ".editbeer" ).click(function() {
              $( "#EditBeer" ).toggle();
            });
            $( ".editpost" ).click(function() {
              $( "#EditPost" ).toggle();
            });
          </script>
        </div>

        <%= yield %>        
      </div>
      <div></div>
    </div>
     <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </body>
</html>
