<!DOCTYPE html>
<html>
  <head>
    <title>Sipz</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="sipz-columns">
      <div></div>
      <div>

<!-- header -->    
        <div class="sipz-header">
          <%= link_to "Sipz", root_path, class: "sipz-logo" %>
        
<!-- user -->
          <div class="sipz-log">
            <% if  @sip.present? && current_user == @sip.user %>
              <span class="editpost">Edit Post</span> • <%= link_to 'Delete Post', sip_path, method: :delete, data: {confirm: 'Are you sure you want to delete is Post?'} %> • <%= link_to current_user.email %> • <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            <% elsif current_user %>
              <span class="addpost">Add Post</span> • <%= link_to current_user.email %> • <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            <% else %>
              <span class="signup">Sign Up</span> • <span class="signin">Sign In</span>
            <% end %>
          </div>

<!-- alert -->
          <% if notice.present? %>
            <span class="notice"><%= notice %></span>
          <% end %>
          <% if alert.present? %>
            <span class="alert"><%= alert %></span>
          <% end %>
        </div>

        <div class="sipz-content">

<!-- forms -->
          <div id="SignIn">
            <%= render template: "devise/sessions/new" %>
          </div>
          <div id="SignUp" class="float-right">
            <%= render template: "devise/registrations/new" %>
          </div>
          <div id="Forgot">
            <%= render template: "devise/passwords/new" %>
          </div>
          <div id="AddPost">
            <%= render template: "sips/new" %>
          </div>
          <% if current_user && @sip.present? %>
            <div id="EditPost">
              <%= render template: "sips/edit" %>
            </div>
          <% end %>

<!-- show/hide -->
          <script>
            $( ".signin" ).click(function() {
              $( "#SignIn" ).toggle();
              $( "#SignUp" ).hide();
              $( "#Forgot" ).hide();
            });
            $( ".signup" ).click(function() {
              $( "#SignIn" ).hide();
              $( "#SignUp" ).toggle();
              $( "#Forgot" ).hide();
            });
            $( ".forgot" ).click(function() {
              $( "#SignIn" ).hide();
              $( "#SignUp" ).hide();
              $( "#Forgot" ).show();
            });
            $( ".addpost" ).click(function() {
              $( "#AddPost" ).toggle();
            });
            $( ".editpost" ).click(function() {
              $( "#EditPost" ).toggle();
              $( "#Caption" ).toggle();
            });
          </script>
        </div>

<!-- content -->
        <%= yield %>        
      </div>
      <div></div>
    </div>
  </body>
</html>
